/* DEFAULT VALUES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  background-color: white;
  color: black;
  position: relative;
  z-index: 0;
}

a {
  color: rgb(247, 57, 57);
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.container {
  max-width: 200rem;
  margin: 0 auto;
}

/* HEADER */
.menu ul li {
  padding: 5px;
  float: right;
}

.header {
  position: relative;
  background-color: #000;
  z-index: 1;
  height: 12rem;
}

.nav-logo {
  position: relative;
  width: 20rem;
  margin-left: 50px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
}

.nav-link {
  transform: translateY(50%);
}

.nav-link:link,
.nav-link:visited {
  color: white;
  font-size: 19px;
  font-weight: 900;
  padding: 0.8rem 1rem;
  transition: all 300ms ease-in-out;
}

.nav-link:hover {
  border-radius: 0.3rem;
  background-color: rgba(247, 57, 57, 0.8);
}

/* MAIN CONTENT */
.title {
  margin: 1rem 0 2rem 0;
  text-align: center;
}

.title h1 {
  font-size: 3rem;
  display: inline-block;
  position: relative;
  z-index: 0;
  margin-bottom: 0px;
}

.content h1 {
  text-align: center;
  font-size: 5rem;
  color: rgba(247, 57, 57, 0.8);
  text-shadow: 2px 2px black;
}

.content h2 {
  text-align: center;
  font-size: 2rem;
}

.title h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translate(-50%, -50%);
  background-color: rgba(247, 57, 57, 0.8);
  width: 50%;
  height: 0.4rem;
  z-index: 1;
}

/* ABOUT */
.section {
  padding: 5rem 0 7rem 0;
  overflow-x: hidden;
  background-color: #222;
}

.about {
  color: white;
}

.about .content p {
  margin-top: 4rem;
  margin-left: 25%;
  width: 50%;
  font-size: 2rem;
}

.about .content span {
  color: rgba(247, 57, 57, 0.8);
  font-weight: 900;
}

/* PROJECTS */
.projects {
  color: black;
  background-image: url("/images/bg1.png");
  background-position: down 50%;
}

.projects .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-description {
  text-align: center;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-bottom: 3rem;
}

.project-image {
  width: 50%;
  margin-left: 22%;
}

.project-title h1 {
  font-size: 3rem;
}

.show-more {
  display: none;
}

/* SKILLS*/
.skills .content {
  background-color: rgba(247, 57, 57, 0.8);
  border-radius: 50px 75px;
}

.main-carousel,
.flickity-viewport .flickity-slider {
  height: 50rem;
}

.skill-set {
  text-align: center;
  /*border: 2px solid red;*/
  z-index: 5;
  /*padding: 15rem;*/
  height: 100%;
  width: 50%;
}

.skill-set i {
  font-size: 5rem;
  padding-top: 10rem;
}

.skill-set div {
  font-size: 2rem;
}

.skill-set ul {
  display: grid;
  grid-template-columns: 1fr 50%;
  font-size: 2rem;
}

.skill-title {
  padding-bottom: 2rem;
}

.skill-set p {
  text-align: center;
  padding: 0rem 4rem 0rem 4rem;
}

.skill-set i,
.skill-set div {
  position: relative;
  /*bottom: 10rem;*/
  word-break: normal;
  margin: 0;
}

.youtube {
  background-image: url("/images/bg1.png");
  background-position: right 100%;
}

.youtube p {
  margin-left: 46rem;
  font-size: 3.5rem;
  color: white;
}

#prof-pic {
  position: relative;
  float: left;
  width: 25%;
  margin-left: 100px;
  border-radius: 50%;
}

.email {
}

@media only screen and (max-width: 406px) {
  .nav-logo img {
    width: 17rem;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 1274px) {
  .projects .content {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .projects .content {
    grid-template-columns: 1fr;
  }

  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 63%;
    max-width: 40rem;
    height: 100%;
    background-color: white;
    transition: all 500ms ease-in-out;
    z-index: 5;
  }

  .hamburger {
    color: white;
    font-size: 5rem;
    margin-right: 7rem;
    float: right;
    cursor: pointer;
  }

  .nav-logo {
    z-index: 10;
    width: 20rem;
    transform: translateX(-10%);
  }

  .menu.show {
    left: 0;
  }

  .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: orange;
    padding: 3rem 1rem;
  }

  .top-nav .close {
    color: white;
    font-size: 5rem;
    position: relative;
    top: 40px;
    float: right;
    cursor: pointer;
  }

  .nav-link:link,
  .nav-link:visited {
    display: block;
    font-size: 1.7rem;
    color: #222;
    padding: 1rem 0;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem 1.6rem;
  }

  body.show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }

  .move {
    transform: translateX(5%);
  }

  .nav.show {
    background-color: rgba(0, 0, 0, 0.8);
    /*background-color: rgb(255, 165, 0, 0.5);*/
  }

  .show-more {
    display: grid;
    background-color: rgb(247, 57, 57);
    width: 15%;
    border-radius: 2rem;
    text-align: center;
    margin-left: 42%;
    cursor: pointer;
    padding: 2rem;
  }

  .show-more:hover {
    background-color: rgb(247, 57, 57, 0.5);
  }

  .show-more i {
    font-size: 3rem;
  }
}
