/* top stuff */
html, body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:black
}

/* header stuff */
h1 {
    text-align: center;
    font-size: 75px;
    margin: 0 auto;
    font-weight: bold;
}

h2 {
    text-align: center;
    margin: 0 auto;
    color: rgb(1, 134, 1);
    font-size: 30px;
}

h4 {
    position: relative;
    float: left;
    left: 960px;
    bottom: 65px;
    font-size: 50px;
    color: white;
}

h4:hover {
    cursor: pointer;
    color: rgb(253, 142, 142)
}

/* body container*/
.container {
    padding: 0 auto;
    background-color: rgb(56, 56, 56);
    width: 1000px;
    margin: 0 auto; 
}

/* form stuff*/
form {
    padding-left: 50px;
}

input {
    width: 300px;
    height: 40px;
    font-size: 17px;
}

form label {
    font-size: 50px;
    position: relative;
    bottom: 20px;
}

#label_title {
    top: 10px;
    font-size: 26px;
}

#text {
    width: 700px;
    height: 70px;
    margin: 0 auto;
    resize: none;
}

button {
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    width: 120px;
    text-align: center;
    background: rgb(1, 134, 1);
    color: white;
    font-size: 17px;
    font-weight: bold;
    left: 40%;
    position: relative;
}

button:hover {
    cursor: pointer;
    background: rgb(8, 173, 8);
}

/* Notes content */
.content ul {
    white-space: nowrap;
}

.note {
    list-style: none;
    border: 5px solid black;
    height: 200px;
    width: 400px;
    display: inline-block;
    margin: 20px 70px 10px 10px;
    background-color: white;
}

.note h3 {
    margin: 0 auto;
    font-size: 25px;
    padding: 10px 0px 0px 20px;
}

.note .text {
    margin: 0px 0px 0px 20px;
    padding: 0px 0px 0px 0px;
    width: 350px;
    height: 100px;
    white-space: normal;
}

.note .detail {
    margin: 0px 0px 0px 20px;
}

.note .delete {
    margin: 0px 0px 0px 270px;
}

.detail {
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    width: 90px;
    position: absolute;
    text-align: center;
    background: rgb(39, 39, 243);
    color: white;
    font-size: 17px;
    margin-bottom: 10px;
}

.detail:hover {
    background: rgb(109, 109, 255);
    cursor: pointer;
}

.delete, .test{
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    width: 90px;
    position: absolute;
    text-align: center;
    background: rgb(240, 45, 45);
    color: white;
    font-size: 17px;
    margin-bottom: 10px;
}

.delete:hover {
    background: rgb(238, 93, 93);
    cursor: pointer;
}
