html {
    background-color: #a5a5a5;
    margin-left: auto;
    margin-right: auto;
}

body {
    //width: 1519px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
}

header {
    background-color: #a5a5a5;
    padding-bottom: 40px;
    padding-left: 200px;
    height: 60px;
    background-color: white;
}

#logo {
    float: left;
    margin: 8px 0px 0px 25px;
    width: 250px;
}

header h1 {
    padding: 40px 0px 0px 301px;
    font-size: 190%;
}

#nav_bar {
    list-style: none;
    position: relative;
    margin: 0 auto;
    background-color: #777478;
    display: inline-block;
}

#nav_bar ul {
    width: 1060px;
    //width: 1469px;
}

#button2 a, #button3 a, #button4 a, #button5 a {
    color: deepskyblue;
}

#button2 a:hover, #button3 a:hover, #button1 a:hover, #button5 a:hover {
    color: yellow;
}

#button1 a, #button2 a, #button3 a, #button4 a, #button5 a {
    padding: 15px 15px 15px 15px;
    text-decoration: none;
}

#button1 a {
    margin-left: 126px;
    color: deepskyblue;
}

#button4 a {
    color: white;
}
             

#nav_bar ul li {
    text-decoration: none;
    display: inline-block;
    font-size: 120%;
}

main {
    font-family:sans-serif;
    //width: 920px;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    padding-top: 1px;
    background-color: white;
}

main h1 {
    color: #b27300;
}

main h1, main h2, main h3, main form {
    padding-left: 50px;
}
footer {
    background-color: #8f8f8f;
    padding: 5px 5px 25px 5px;
}

.info {
    padding: 0px;
    margin: 0px;
    float:right;
}
