body {
    padding: 0 auto;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Titillium Web', sans-serif;
}

/* ------------ container ------------ */
.container {
    padding: 10px;
    width: 380px;
    margin: 0 auto;
}

/* ------------ header ------------ */
.header {
    width: 380px;
    height: 200px;
    background-image: url('../img/bg1.jpg');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
    background-position: center;
}

.clear {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
}
.clear img {
    width: 100%;
}

.clear img:hover {
    cursor: pointer;
    transform: rotate(45deg);
    filter: invert(50%) sepia(13%) saturate(10000%) hue-rotate(200deg) brightness(500%) contrast(80%);
}

#date {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FFF;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
}

/* ------------ content ------------ */
.content {
    width:380px;
    height: 350px;
    max-height:350px;
    background-color: #FFF;
    overflow: auto;
}

.content::-webkit-scrollbar { 
    display: none; 
}

.content ul {
    padding: 0;
    margin: 0;
}

.item {
    width:380px;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}

.item .done {
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:12px;
    width: 5%;
}

.item .done:hover {
    cursor: pointer;
}

.item p.text {
    position: absolute;
    padding: 0;
    margin: 0;
    font-size: 20px;
    left: 50px;
    top: 10px;
    background-color: #FFF;
    max-width: 285px;
}

.lineThrough {
    text-decoration: line-through;
    color : #ccc;
}

.item .delete {
    position: absolute;
    font-size: 25px;
    right: 15px;
    top: 10px;
    width: 5%;
}
.item .delete:hover{
    filter: invert(60%) sepia(13%) saturate(5000%) hue-rotate(360deg) brightness(95%) contrast(80%);
    cursor: pointer;
}

/* ------------ add item ------------ */
#add {
    width: 10%;
}

#add:hover {
    cursor: pointer;
}

.add-to-do {
    position: relative;
    width: 360px;
    height:40px;
    background-color: #FFF;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.add-to-do input {
    position: absolute;
    left: 50px;
    height: 35px;
    width: 310px;
    background-color: back;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 15px 15px 15px 15px;
    padding-left: 10px;
}

.add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

.add-to-do input::-moz-placeholder { /* Firefox 19+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

.add-to-do input:-ms-input-placeholder { /* IE 10+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

.add-to-do input:-moz-placeholder { /* Firefox 18- */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

form {
    padding-left: 100px;
}

form label {
    left: 20%;
    position: relative;
    font-weight: bold;
}

form select {
    margin-top: 5px;
    left: 5%;
    position: relative;
}
form button {
    position: relative;
    text-align: center;
    left: 20%;
    margin-top: 5px;
}