.content {
    width: 705px;
    margin: auto;
}

nav a {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 10px 10px 10px 60px;
    font-size: 90%;
}

#first_nav_button a {
    color: orange; 
    padding-left: 40px;
}

.nav_button {
}

#nav_menu ul {
    list-style: none;
    position: relative;
    margin: 0 auto;
    padding: 0px 8.3px 0px 0px;
    background: #333;
    display: inline-block;
}
#nav_bar {
    width: 697px;
}

#nav_menu ul li { float: left; }

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 52%;
    //padding: 0px 50px 0px 0px;
    margin: 0px 0px 0px 49px;
    text-align: center;
}               

#nav_menu ul ul li a {
    padding: 10px 50px 10px 50px;
}

#nav_menu ul ul li { float: none; }

#nav_menu ul li:hover > ul {
    display: block;
}
#nav_menu > ul::after {
    content: "";
    display: block;
    clear: both; 
}

a {
    color: orange;
}

a:hover {
    color: green;
}

nav ul {

}

#current a {
    color: orange;
}

html {
    background-image: url(images/bats.gif);
    background-repeat: repeat;
}

header {
    background-image: linear-gradient(-45deg, black, orange, white);
}

header h3 {
    border-bottom: 3px solid black;
    margin: auto;
    padding-bottom: 17px;
}

header img {
    float: left;
    padding: 10px 15px 1px 15px;
}

header h2 {
    font-size: 25pt;
    margin: auto;
    padding-top: 15px;
}


.sidebar {
    float: left;
    width: 105px;
    margin: 0;
    padding: 25px 0px 0px 15px;
    list-style: none;
}

.sidebar a {
    text-decoration: none;
    display: block;
    border: 2px solid black;
    padding-left:8px;
    padding: 5px 0px 5px 10px;
    color: black;
    font-weight: bold;
    background-color: orange;
    
}

.body {
    margin: 0px 0px 0px 140px;
    width: 503px;
    padding: 0px 0px 10px 30px;
}

body {
    border: 5px solid black;
    box-shadow: 0px 1px 10px 9px black;
    background: white;
    font-family: sans-serif;
}


body h1 {
    font-size: 17pt;
}

#cat_img {
    padding-left: 170px
}

#big_letter {
    padding-top: 15px;
    font-size: 18pt;
    padding-bottom: 0px;
    margin-left: 140px;
}

#big_letter::first-letter {
    font-size: 30pt;
}

aside ul li {
    padding-bottom: 3px;
}

body h4 {
    font-size: 113%;
}

#end_body {
    padding-bottom: 25px;
}
footer {
    clear: both;
    border-top: 5px solid black;
    text-align: center;
    font-size: 80%;
    background-image: linear-gradient(45deg, black, orange, white);
    padding-bottom: 11px;
    padding-top: 11px;
}